include:
  - path: ./back/docker-compose.yml
services:
  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
    volumes:
      - './nginx.conf:/etc/nginx/nginx.conf'
    depends_on:
      - back
      - front
  front:
    build: ./front
    ports:
      - "0.0.0.0:5173:5173"
