services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB_NAME}
  redis:
    image: redis:alpine
  back:
    build: .
    ports:
      - "0.0.0.0:8000:8000"
    depends_on:
      - db
      - redis
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
