services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB_NAME}
  redis:
    image: redis:alpine
  back:
    build: .
    ports:
      - "0.0.0.0:8000:8000"
    depends_on:
      - db
      - redis
  # adminer:
  #   image: adminer
  #   restart: always
  #   ports:
  #     - 8080:8080
  # redis-commander:
  #   image: rediscommander/redis-commander:latest
  #   restart: always
  #   environment:
  #     - REDIS_HOSTS=local:redis:6379:0
  #   ports:
  #     - "8081:8081"
  #   depends_on:
  #     - redis
